<header class="container">
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark fixed-top border-bottom">
    <div class="container-fluid">
      <!-- Left Offcanvas Trigger -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvasLeft"
        aria-controls="offCanvasLeft" aria-labelledby="offCanvasLeft">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="bi bi-list"></i>
      </button>

      <!-- Brand Logo -->
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" alt="Logo" width="32" height="32" class="d-inline-block align-text-top">
        Ekenyoro
      </a>

      <!-- Right Offcanvas Trigger -->
      <a role="button" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="offcanvas"
        data-bs-target="#offCanvasRight" aria-expanded="false">
        <img src="assets/img/placeholders/placeholder-header-avatar-01.jpg" alt="User profile avatar." width="32" height="32" class="avatar rounded-circle">
      </a>
    </div>
  </nav>
</header>


<!-- Left Offcanvas Menu -->
<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offCanvasLeft" aria-labelledby="offCanvasLeftLabel">

  <div class="offcanvas-header text-white">
    <a class="navbar-brand pl-4" href="#">
      <img src="assets/img/logo.png" alt="Logo" width="32" height="32" class="logo d-inline-block align-text-top">
    </a>
    <a href="#" class="navbar-brand fw-bold">Ekenyoro</a>
    <button type="button" class="close-btn rounded py-1 px-2" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="offcanvas-body pt-0">
    <!-- Nav Links -->
    <ul class="nav flex-column border-top pt-2">
      <!-- Home -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" data-bs-dismiss="offcanvas">
          <i class="bi bi-house-door"></i>
          <span class="ps-1">Home</span>
        </a>
      </li>

      <!-- About Us -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us" routerLinkActive="active" data-bs-dismiss="offcanvas">
          <i class="bi bi-info-circle"></i>
          <span class="ps-1">About Us</span>
        </a>
      </li>

      <!-- Our Work -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/our-work" routerLinkActive="active" data-bs-dismiss="offcanvas">
          <i class="bi bi-kanban"></i> <!-- Icon changed for Our Work -->
          <span class="ps-1">Our Work</span>
        </a>
      </li>

      <!-- Get Involved -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/get-involved" routerLinkActive="active" data-bs-dismiss="offcanvas">
          <i class="bi bi-people-fill"></i> <!-- Icon changed for Get Involved -->
          <span class="ps-1">Get Involved</span>
        </a>
      </li>

      <!-- Media -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/media" routerLinkActive="active" data-bs-dismiss="offcanvas">
          <i class="bi bi-film"></i> <!-- Icon changed for Media -->
          <span class="ps-1">Media</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="offcanvas-footer p-3">

    <ul class="nav flex-column border-top pt-2 border-bottom">
      <!-- contact -->
      <li class="nav-item">
        <a class="nav-link" href="#footer">
          <i class="bi bi-envelope"></i>
          <span class="ps-1">Contact Us</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#footer">
          <i class="bi bi-chat-right"></i>
          <span class="ps-1">Give Feedback</span>
        </a>
      </li>

      <!-- Copyright -->
      <li class="nav-item">
        <p class="copyright px-3 pt-2 pb-3 mb-0 text-muted text-white-50">
          <i class="bi bi-c-circle"></i> {{currentYear()}} Ekenyoro
        </p>
      </li>
    </ul>

    <!-- Footer Links -->
    <ul class="footer-links nav justify-content-evenly">
      <li class="nav-item">
        <a class="nav-link" href="#footer">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Terms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Privacy</a>
      </li>
    </ul>
  </div>
</div>

<!-- Right Offcanvas Menu -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offCanvasRight" aria-labelledby="offcanvasRightLabel">

  <div class="offcanvas-body bg-dark py-0">

    <div class="offcanvas-header pb-0 pe-0 align-items-start border-bottom text-white">
      <!-- Profile Section -->
      <div class="d-flex align-items-center mb-3">
        <img src="assets/img/placeholders/placeholder-header-avatar-01.jpg" alt="User profile avatar." class="rounded-circle me-3" width="50" height="50">
        <div>
          <p class="m-0"><span class="invisible">&#64;</span>John Doe</p>
          <p class="m-0 fw-bolder"><span class="fw-light">&#64;</span>johndoe</p>
        </div>
      </div>

      <!-- Close Icon -->
      <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
      <button type="button" class="close-btn text-reset rounded py-1 px-2" data-bs-dismiss="offcanvas"
        aria-label="Close">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>

    <!-- Menu Items -->
    <ul class="nav flex-column">
      <!-- New Project -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-file-earmark-plus"></i> New Project
        </a>
      </li>

      <!-- Your Projects -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-grid"></i> Your Projects
        </a>
      </li>

      <!-- Bookmarks -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-bookmark-star"></i> Bookmarks
        </a>
      </li>

      <!-- Profile -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-person"></i> Profile
        </a>
      </li>

      <!-- Settings -->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-gear"></i> Settings
        </a>
      </li>
    </ul>

    <!-- Sign Out -->
    <ul class="nav flex-column border-top">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-box-arrow-right"></i> Sign Out
        </a>
      </li>
    </ul>
  </div>
</div>